


.intro {
  height: 100vh;
}

.transaction{
  position: absolute;
  width: 100%;
  z-index: 99;
}

.user{
  height: 100%;
}


.main{
  position: relative;
}

.piggySign{
  width: 100%;
  height: 100%;
  top: 5%;
  right: -30%;
  position: absolute;
}